<div class="w-full mt-10">
  <div class="card mx-auto">
    <h3>Bejelentkezés</h3>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <!-- Felhasználónév mező -->
      <mat-form-field class="input">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" />
        @if(loginForm.get('email')?.hasError('required')) {
        <mat-error> Felhasználónév megadása kötelező </mat-error>
        }
      </mat-form-field>

      <!-- Jelszó mező -->
      <mat-form-field class="input">
        <mat-label>Jelszó</mat-label>
        <input matInput formControlName="password" type="password" />
        @if (loginForm.get('password')?.hasError('required')) {
        <mat-error> Jelszó megadása kötelező </mat-error>
        }
      </mat-form-field>

      <!-- Bejelentkezés Gomb -->
      <button
        mat-raised-button
        class="input"
        type="submit"
        [disabled]="loginForm.invalid"
      >
        Bejelentkezés
      </button>
    </form>
  </div>
</div>
