<h3 class="pl-5">Termékek Listája</h3>
<div class="container">
  <table>
    <thead>
      <tr>
        <th>Termék Név</th>
        <th>Ár (Ft)</th>
        @if(this.inventoryType === 'warehouse') {
        <th>Darab</th>
        }
        <th>Leírás</th>
      </tr>
    </thead>
    <tbody>
      @for (product of inventory$ | async; track $index) {
      <tr>
        <td>{{ product.item.name }}</td>
        <td>{{ product.item.price }}</td>
        @if(this.inventoryType === 'warehouse') {
        <td>{{ product.quantity }}</td>
        }
        <td>{{ product.item.description }}</td>

        <td>
          <button mat-flat-button (click)="editProduct(product)">Szerkesztés</button>
        </td>
        <td>
          <button mat-raised-button (click)="deleteProduct(product)">Törlés</button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>

<div class="fixed bottom-4 right-10">
  <button mat-fab [mat-menu-trigger-for]="menu">
    <mat-icon>add</mat-icon>
  </button>
  <mat-menu #menu>
    <button mat-menu-item>
      <mat-icon>add</mat-icon>
      <a mat-list-item (click)="createItem()"> <span> Tárgy felvétele </span> </a>
    </button>
    @if(this.inventoryType === 'warehouse') {
    <button mat-menu-item>
      <mat-icon>add</mat-icon>
      <a mat-list-item (click)="addItemToWarehouse()"> <span> Tárgy hozzáadasa raktárhoz</span> </a>
    </button>
    }
  </mat-menu>
</div>
