<h3 class="pl-5">Beosztások</h3>
<div class="container">
  <table>
    <thead>
    <tr>
      <th>Vezetéknév</th>
      <th>Keresztnév</th>
      <th>Szerepkör</th>
      <th>Műveletek</th>
    </tr>
    </thead>
    <tbody>
    @for (employee of employees$ | async; track $index) {
      <tr>
        <td>{{ employee.lastName }}</td>
        <td>{{ employee.firstName }}</td>
        <td>{{ employee.role }}</td>
        <td>
          <button mat-flat-button color="primary" (click)="editEmployee(employee)">Szerkesztés</button>
          <button mat-raised-button color="warn" (click)="deleteEmployee(employee)">Törlés</button>
        </td>
      </tr>
    }
  </tbody>

</table>
</div>

<div class="fixed bottom-4 right-10">
<button mat-fab color="primary" [mat-menu-trigger-for]="menu">
  <mat-icon>add</mat-icon>
</button>
<mat-menu #menu>
  <button mat-menu-item>
    <mat-icon>add</mat-icon>
    <a mat-list-item (click)="addEmployee()"> <span>Új raktáros hozzáadása</span> </a>
  </button>
</mat-menu>
</div>
