<div class="container mt-4 d-flex justify-content-center">
  <mat-card class="form-card">
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <h3 class="middle">Termék felvitele</h3>

      <div>
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Termék neve</mat-label>
          <input matInput placeholder="Add meg a termék nevét" formControlName="name" />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Ár (HUF)</mat-label>
          <input matInput type="number" placeholder="Add meg a termék árát" formControlName="price" />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Leírás</mat-label>
          <textarea matInput placeholder="Add meg a termék leírását" formControlName="description"></textarea>
        </mat-form-field>
      </div>

      <div class="middle">
        <label for="imageUpload" class="form-label">Kép feltöltése:</label>
        <input type="file" class="form-control" id="imageUpload" />
      </div>
      <br>
      <button mat-raised-button color="primary" type="submit" class="middle w-100" [disabled]="productForm.invalid">
        Mentés
      </button>
    </form>
  </mat-card>
</div>
